body{
  margin: 0;
}

.navbar {
  display: flex;
  height: 80px;
  background-color: white;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.logo-img{
  height: 50px;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
}

.head-title{
  margin-top: 25px;
 color: #e0565B;
}