body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  height: 80px;
  background-color: white;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.logo-img{
  height: 50px;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
}

.head-title{
  margin-top: 25px;
 color: #e0565B;
}

.hero-section{
  margin-top: 50px;
}

.img-gallery{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  max-width: 500px;
}

.img-gallery img {
  width: 25%; /* Adjust the width of each image */
  height: auto;
  max-height: 100%; /* Maintain the aspect ratio */
  margin: 5px; /* Add margin between images */
  border-radius: 5px;
}

.hero-title{
  margin-top: 25px;
}

.hero-text{
  margin-top: 25px;
  max-width: 500px;
}

.card-container{
  width: 175px;
  font-size: 14px;
}

.card-img {
  width: 100%;
  max-height: 250px;
  border-radius: 6px;
}

span {
  content: "\2605";
}

.gray{
  color: #918E9B;
}

.contact-card {
  width: 400px;
  height: 400px;
}

.phone-icon {
  height: 20px;
  width: 20px;
}

.mail-icon{
  height: 20px;
  width: 20px;
}